* {
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

.navbar {
    background: rgb(30, 32, 34);
    height: 70px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.4);
}

@media (max-width: 599px) {
    .navbar {
        width: 1550px;
    }
}

.logo img {
    height: 70px;
    width: 130px;
}

.loc {
    margin: 10px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.loc:hover {
    background: rgb(82, 97, 107);
    color: rgb(240, 245, 249);
}

.pin {
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #ffffff;

}

.city {
    text-align: center;
    padding-left: 20px;
    color: #ffffff;
    cursor: pointer;

}

.delivery {
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.delivery:hover {
    background: rgb(82, 97, 107);
    color: rgb(240, 245, 249);
}

.search {
    display: flex;
    align-items: center;
    margin: 10px;
}

input {
    height: 40px;
    width: 400px;
    font-size: 17px;
    padding-left: 5px;
    border: none;
}

input:focus {
    outline: none;
}


button {
    height: 40px;
    width: 100px;
    font-size: 17px;
    background: rgb(82, 97, 107);
    color: rgb(240, 245, 249);
    font-weight: 400;
    border: none;
    cursor: pointer;
}

button:hover {
    background: rgb(201, 214, 223);
    color: rgb(30, 32, 34);
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.3);
}

.signin {
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}

.signin>a>i {
    font-size: 20px;
    margin-right: 5px;
    color: rgb(240, 245, 249);
}

.signin:hover {
    border-radius: 10px;
    padding: 5px;
    background: rgb(82, 97, 107);
    color: rgb(240, 245, 249);
}

.signin>a>i:hover {
    color: rgb(255, 255, 255);
}

.notification {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.notification:hover {
    border-radius: 50%;
    background: rgb(82, 97, 107);
    color: rgb(30, 32, 34);
}

.cart {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.cart:hover {
    border-radius: 50%;
    padding: 10px;
    background: rgb(82, 97, 107);
    color: rgb(240, 245, 249);
}

.notification>a>i {
    font-size: 20px;
    color: rgb(240, 245, 249);
}

.notification>a>i:hover {
    color: rgb(255, 255, 255);
}

.cart>a>i {
    font-size: 20px;
    color: rgb(240, 245, 249);
}

.cart>a>i:hover {
    color: rgb(255, 255, 255);
}

#pannel {
    background: rgb(240, 245, 249);
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.4);
    border: 2px solid rgb(82, 97, 107);

}

@media (max-width: 599px) {
    #pannel {
        width: 1510px;
    }
}

#pannel>a>img {
    height: 100px;
    width: 100px;
}

.category {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
    border: 2px solid rgb(82, 97, 107);
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.4);
}

.category:hover {
    transform: scale(1.05);
}

.cimg {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cimg p {
    margin-left: 10px;
    color: rgb(30, 32, 34);
}

#promotion {
    background: rgb(201, 214, 223);
    height: 500px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#promotion>img {
    height: 500px;
    width: 1550px;
}

.banner-nav {
    background-color: rgb(82, 97, 107);
    border: none;
    color: rgb(240, 245, 249);
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.banner-nav:hover {
    background-color: rgb(201, 214, 223);
    transform: scale(1.1);
}

@media (max-width: 599px) {
    #promotion {
        width: 1530px;
    }
}

#topdeal {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    color: rgb(30, 32, 34);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.block {
    background: rgb(82, 97, 107);
    height: 375px;
    width: 450px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(240, 245, 249);
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.4);
    border: 2px solid rgb(240, 245, 249);
}

.row {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.column {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.row>a>img {
    height: 130px;
    width: 200px;
    margin: 5px;
    object-fit: cover;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.4);
    border: 2px solid #ffffff;
}

.row>a>img:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 9px rgb(0, 0, 0, 0.4);
    object-fit: cover;
}

.column>a>img {
    height: 130px;
    width: 200px;
    margin: 5px;
    object-fit: cover;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.4);
    border: 2px solid #ffffff;
}

.column>a>img:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 9px rgb(0, 0, 0, 0.4);
    object-fit: cover;
}

@media (max-width: 599px) {
    .block {
        margin: 25px;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-evenly;
}

.pro-card {
    background: rgb(240, 245, 249);
    height: 350px;
    width: 250px;
    margin: 10px;
    box-shadow: 3px 4px 6px rgb(0, 0, 0, 0.4);
    border: 2px solid rgb(82, 97, 107);
    border-radius: 20px;
    padding: 10px;
}

.pro-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 9px rgb(0, 0, 0, 0.4);
}

.pro-card>img {
    margin: 24px 24px 0 24px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    border: 2px solid rgb(82, 97, 107);
}

.pro-card>p {
    font-size: 15px;
    margin-left: 24px;
    color: rgb(30, 32, 34);
    object-fit: cover;
    font-weight: bold;
}

.pro-card>h3 {
    font-size: 18px;
    margin-left: 24px;
    color: rgb(82, 97, 107);
    object-fit: cover;
}

.pro-card>a>button {
    width: 200px;
    margin-left: 24px;
    background: rgb(82, 97, 107);
    color: rgb(240, 245, 249);
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    border: 2px solid rgb(82, 97, 107);

}

.pro-card>a>button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 9px rgb(0, 0, 0, 0.4);
    background: rgb(201, 214, 223);
    color: rgb(30, 32, 34);
}

@media (max-width: 599px) {
    .products {
        width: 1550px;
    }
}

#footer {
    background-color: black;
    margin-top: 10px;
    height: 400px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding-left: 40px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.4);

}

.foot1 {
    margin: 10px;
    padding: 30px;
    color: white;
    height: 300px;
    width: 450px;
    border-right: 2px solid white;
}

.foot1>p,
pre {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
    line-height: 25px;
}


.foot1>input {
    margin: 5px 0 5px 5px;
    width: 280px;
    border-radius: 10px 0 0 10px;
    height: 43.2px;
    border: none;
    padding-left: 10px;
}

.foot1>button {
    margin: 0;
    background-color: white;
    color: black;
    height: 43.2px;
    border-radius: 0 10px 10px 0;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.foot1>button:hover {
    background-color: rgb(30, 32, 34);
    color: white;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.3);
}

.smlogo {
    display: flex;
    gap: 20px;
    font-size: 25px;
    margin: 10px;
    padding-top: 20px;
}

.smlogo>a>i {
    color: white;
}

.smlogo>a>i:hover {
    color: rgb(30, 32, 34);
}

.foot2 {
    color: white;
    height: 360px;
    padding-left: 40px;
    margin: 10px;
    font-size: 15px;
    display: flex;
    gap: 90px;
}

.link1>p>a {
    text-decoration: none;
    color: white;
    line-height: 35px;
}

.link2>p>a {
    text-decoration: none;
    color: white;
    line-height: 35px;
}

.link3>p>a {
    text-decoration: none;
    color: white;
    line-height: 35px;
}

.link1>p>a:hover,
.link2>p>a:hover,
.link3>p>a:hover {
    color: rgb(30, 32, 34);
}

@media (max-width: 599px) {
    #footer {
        width: 1550px;
    }
}